## What is a Tuple: Tuple is an ordered collection of elements of different data types seperated by comma and enclosed with in these paranthesis

## Tuple is immutable 

## Immutable: Once the elements created it cannot be changed

## Accessing of elements:

## 1.Indexing: It is a technique in which it is used to extract one element is known as indexing.

## 2.Slicing: If we want to extract a group of elements then this technique is known as Slicing.

In [1]:
## Creating a tuple
tup1 = ("Rohit","Sanam",1,1.5,5+6j)

In [2]:
tup1

('Rohit', 'Sanam', 1, 1.5, (5+6j))

In [3]:
type(tup1)

tuple

In [7]:
## Creating an empty tuple:
tup2 = tuple()

In [9]:
tup2

()

In [10]:
type(tup2)

tuple

In [11]:
## The other way to create an empty tuple is:
tup1 = ()

In [12]:
type(tup1)

tuple

In [15]:
l = [1,2,3,4,5,6]
type(l)

list

In [16]:
## Tuple with one element
tup1 = ("rohit",)

In [17]:
type(tup1)

tuple

In [18]:
## We cannot specify the tuplewithout giving comma
tup1 = ("rohit")

In [19]:
type(tup1)

str

## From the above output I can say that if we are specifying one element in a tuple we have to also give a comma else it will be considered as a string.

In [20]:
number = (1,2,3,4,5,6)

In [21]:
number

(1, 2, 3, 4, 5, 6)

In [22]:
type(number)

tuple

In [23]:
## Built in functions present in tuple:
##1. count
##2. index
dir(number)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

## Apart from the above mentioned built in functions tuple also supports some of the functions which list supports

1.len()

2.tuple()

In [24]:
len(number)

6

In [25]:
min(number)

1

In [19]:
max(number)

6

In [26]:
list1 = [1,2,3,4,5,6]

In [27]:
type(list1)

list

In [33]:
a = tuple(list1) ##--> This will convert from list to tuple

In [34]:
type(a)

tuple

In [30]:
dir(number)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [35]:
no = (1,1,2,3,4,5,7,7,7,7)

In [36]:
no.count(1)

2

In [37]:
number.count(1)

1

In [38]:
no.index(3)

3

In [39]:
no.index(7)

6

In [40]:
number.index(6)

5

In [41]:
## indexing
number[0]

1

In [42]:
number[5]

6

In [43]:
number[3]

4

In [44]:
##slicing
number[:]

(1, 2, 3, 4, 5, 6)

In [39]:
number[0:3]

(1, 2, 3)

In [40]:
number[3:]

(4, 5, 6)

In [41]:
number[::-1]

(6, 5, 4, 3, 2, 1)

In [42]:
number[:4]

(1, 2, 3, 4)